@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  /* font  */
  --font-family: "Ubuntu", sans-serif;
  --font-size: 16px;
  /* primary colors  */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  /* neutral colors */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

/* css reset  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

/* main css  */

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  display: grid;
  place-content: center;
  background-color: var(--magnolia);
}

main {
  display: flex;
  flex-direction: column;
}

/* sidebar  */

.sidebarleft {
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  display: flex;
  justify-content: center;
}

.row .column {
  display: none;
}

.hidden {
  display: none;
}
